<img src="#" alt="" style="width:100%;height:400px">
<div class=row>
    <div class="col-md-6"><b>Marka:</b>{{car.brandName}}</div>
    <div class="col-md-6"><b>Renk:</b>{{car.colorName}}</div>
</div>
<hr>
<div class=row>
    <div class="col-md-6"><b>Kira Başlangıç Tarihi: </b> <input type="date"></div>
    <div class="col-md-6"><b>Kira Bitiş Tarihi: </b> <input type="date"></div>
</div>
<hr>
<div class=row>
    <div class="col-md-6"><b>Günlük Ücret:</b> <h2>{{car.dailyPrice | currency}} </h2> </div>
    <div class="col-md-6"><b>Toplam Ücret:</b> <h2>{{5000 | currency}}</h2>  </div>
</div>
<hr>
<div class=row>
    <button class="btn btn-success" style="width:100%">ONAYLA</button>
</div>
<hr>
<!--
<table class="table">
    <thead>
        <tr>
            <th>Marka</th>
            <th>Renk</th>
            <th>Günlük Fiyat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Alfa Romeo</td>
            <td>Kırmızı</td>
            <td>500</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>Kira Başlangıç Tarihi</th>
            <th>Kira Bitiş Tarihi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="date"></td>
            <td><input type="date"></td>
            <td><button class="btn btn-success" style="width:100%">ONAYLA</button></td>
        </tr>
    </tbody>
</table>
-->